<h1>Add a Player</h1>

<!-- Form to add Player -->
<form action="/addplayer" method="post">
  <label for="name">Player Name</label>
  <input id="name" name="name" type="text" required>
  
  <label for="position">Position</label>
  <select name="position">
    <option value="PG">Point Guard</option>
    <option value="SG">Shooting Guard</option>
    <option value="SF">Small Forward</option>
    <option value="PF">Power Forward</option>
    <option value="C">Center</option>
  </select>
  
  <label for="age">Age</label>
  <select name="age">
    <% x = 60 %> 
    <% y = 17 %>
    <% while x > y %>
    <option value=<%=y%>><%=y%></option>
    <% y += 1 %>
    <% end %> 
  </select> 
  
  <label for="rating">Overall Rating</label>
  <select name="rating">
    <% x = 101 %>
    <% y = 1 %>
    <% while x > y %>
    <option value=<%=y%>><%=y%></option>
    <% y += 1 %>
    <% end %> 
  </select> 

  <!--  Radio  -->
  <% if @teams.empty? %>
    <p>Your player will become a free agent</p>
    <input id="team" name="team" type="hidden" value="">
    <input id="free_agent" name="free_agent" type="hidden" value="true">
  <% else %>
    <label for="team">Pick a Team</label>
    <input name="team" value="" type="radio">Free Agency
    <% @teams.all().each() do |team| %>
      <input name="team" type="radio" value="<%= team.id() %>"><%= team.name %>
    <% end %>
  <% end %>
   
  <button type="submit">Create Player!</button>
</form>

<a href="/">Back to Main</a>
<a href="/playerportal">Back to Team Portal</a>
