<h1>Add a Team</h1>

<% if @players.empty? %>
  <p>You must first add players to the league in order to build a team</p>
<% else %> 
  <form action="/addteam" method="post">
    <fieldset>
      <legend>Basic Information</legend>
    <label for="name">Team Name</label>
    <input id="name" name="name" type="text" required>


    <label for="location">Location</label>
    <input id="location" name="location" type="text" required>
    </fieldset>

    <fieldset>
      <legend>Add Players</legend>

      <label for="PG">Point Guard</label>   
      <select name="PG">
      <% @players.each() do |player| %>
        <% if player.free_agent && player.position == "PG" %>
           <option value="<%= player.id() %>"><%=player.name%> (<%= player.rating %>)</option>
        <% else %>
        <% end %> 
      <% end %>
      </select>

      <label for="SG">Shooting Guard</label>
      <select name="SG">
      <% @players.each() do |player| %>
        <% if player.free_agent && player.position == "SG" %> 
            <option value="<%= player.id() %>"><%= player.name%> (<%= player.rating %>)</option>
        <% else %>
        <% end %>
      <% end %>  
      </select>

      <label for="SF">Small Forward</label>
      <select name="SF">
      <% @players.each() do |player| %>
        <% if player.free_agent && player.position == "SF"%>
          <option value="<%= player.id() %>"><%= player.name%> (<%= player.rating %>)</option>
        <% else %>
        <% end %>
      <% end %>
      </select>
      
      <label for="PF">Power Forward</label>
      <select name="PF">
      <% @players.each() do |player| %>
        <% if player.free_agent && player.position == "PF" %>
          <option value="<%= player.id() %>"><%= player.name%> (<%= player.rating %>)</option>
        <% else %>
        <% end %>
      <% end %>
      </select>

      <label for="C">Center</label>
      <select name="C">
      <% @players.each() do |player| %>
        <% if player.free_agent && player.position == "C" %>
          <option value="<%= player.id() %>"><%= player.name%> (<%= player.rating %>)</option>
        <% else %>
        <% end %>
      <% end %>
      </select>

      </fieldset>

    <button type="submit">Create team!</button>
  </form>
<% end %> 

<a href="/">Back to Main</a>

<a href="/teamportal">Back to Team Portal</a>