<h1>The <%= @team.location%> <%= @team.name %> (<%= @team.wins %> - <%= @team.losses %>)</h1>

<p><%= @team.rating %> Overall</p>

<h2>Team Information</h2> 
  
<p>Team Record History</p>


  
<h2>Current Roster</h2>

<ul>
  <% @team.players.each() do |player| %>
  <li><%= player.name %> (<%= player.rating%>)</li>
  <% end %>
</ul>
  
<h2>Change Team Name or Relocate?</h2>
<form action="/teams/<%= @team.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Team Name</label>
  <input id="name" name="name" type="text">
  
  <label for="location">Relocate</label>
  <input id="location" name="location" type="text">
  
  <!-- Later have option to pick colors -->
  <button type="submit">Update!</button>
</form>

<h2>Delete?</h2>
  
<form action="/teams/<%= @team.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  
  <button type="submit">Delete</button>
</form>
  
<a href="/">Back to Main</a>
<a href="/teamportal">Back to Team Portal</a>

